@{
    ViewData["Title"] = "Account Information";
}

<h1>Account Balance</h1>

<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            @if (TempData["ResultOK"] != null)
            {
                <p class="alert-danger">
                    Total Balance in your account is: @TempData["ResultOK"]₹
                </p>
            }
        </div>
    </div>
</div>